@keyframes lightUp {
	0% {
		fill: #3e8e41;
	}

	100.0% {
		fill: red;
	}
}

.button:hover {
	/* fill: red; */
	cursor: pointer;
}

.button:active > text {
	animation: lightUp 2s forwards linear;
	transform: translateY(1px);
}

.button {
	animation: lightUp 2s forwards linear;

	transform: translateY(1px);
}
